dist: focal
sudo: true
language: python

matrix:
  include:
  - python: 3.8
    name: "Python38"

before_install:
    - sudo apt-get install libgeos-dev libproj-dev proj-data graphviz libblas-dev liblapack-dev
    - wget https://apt.llvm.org/llvm.sh
    - chmod +x llvm.sh
    - sudo ./llvm.sh 10
    - ls /usr/bin/llvm*
    - export LLVM_CONFIG=/usr/bin/llvm-config
    # - sudo ln -s /usr/bin/llvm-config-10 /usr/bin/llvm-config
    - sudo apt-get -y install graphviz
    # onnx
    - pip install onnx
    # paths
    - export PYTHONPATH=src

install:
  - pip install -i https://test.pypi.org/simple/ ort-nightly
  - pip install -r requirements.txt
  # - pip install onnxruntime

cache: pip

before_script:
  - python setup.py build_ext --inplace

script:
  - python setup.py unittests
