astroid
cython
docutils
et_xmlfile
ijson
importlib_metadata
ipython
isort
jdcal
joblib
jupyter
matplotlib
nbformat
numpy
pandas
protobuf
psutil
pybind11
pycodestyle
pyinstrument
pyinstrument_cext
pylint
pymyinstall
pyquickhelper
pyshp
scikit-learn
threadpoolctl
wheel
