autopep8
cffi
coverage
Cython
jupyter
jupyter_sphinx
jyquickhelper
matplotlib
mlinsights>=0.3
mlprodict>=0.5
notebook>=6.0.0
numba
numpy>=1.18.0
onnx>=1.12.0
onnxruntime>=1.12.0
pillow
pycodestyle
pyquickhelper>=1.10
pyquicksetup
pyinstrument
pylint
py-cpuinfo
scikit-learn>=0.24
skl2onnx
Sphinx
sphinx_bootstrap_theme
tqdm
wheel
